
.search-form{

box-sizing: border-box;

position: absolute;
width: 400px;
height: 60px;
left: calc(50% - 400px/2);
top: 163px;
margin-top: 30px;

background: #FFFFFF;
/* Text disabled */
border: 1px solid #CFCFCF;
border-radius: 30px;
text-align: center;


}