.header {
  display: block;
  margin: auto;
  
}

.place-logo_header{
  position: absolute;
  width: 184px;
  height: 153px;
  left: calc(50% - 184px/2);
  top: 40px;


  }

  .button-header {
display: flex;
flex-direction: row;
position: absolute;
width: 144px;
height: 60px;
right: 40px;
top: 40px;

/* Colors/Orange */
background: #FF9500;
border-radius: 100px;
  }


  @media screen and (max-width: 767px) {

    .place-logo_header{
      top: 60px;
    }
    
  }
  
  